*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;
}

nav{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;
}

nav>ul{
	list-style-type: none;
}

nav .nav,nav .nav-logo{
	margin: 0.5rem;
	display: inline;
}

#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	font-weight: bold;
	background-color: #C2395B;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
}

#info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#info>h2{
	margin-bottom: 1rem;
}

#info>div{
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;
	min-height: 150px;
}

#info h3{
	margin-bottom: 1rem;
}

#pre-footer{
	width: 100%;
	min-height: 150px;
	background-color: #032642;
}

#pre-footer>div{
	display: inline-block;
	vertical-align: text-top;
	width: 23%;
	padding: 20px;
	min-height: 150px;
	background-color: #032642;
	color: white;
}

#pre-footer h3, p{
	margin-bottom: .5rem;
}

footer{
	padding: 20px;
}

footer>span{
	margin-right: 10px;
}